/* Main */
body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
    font-family: 'Playfair Display', serif;
    background-color: lightgray;
}

p {
    text-align: justify;
}

div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation */
.navBG {
    background-color: #121F2A;
}

.borders {
    color: #D9A537;
}

#pillar {
    margin-top: 8px;
}

#banner{
    height: 60px;
    width: 468px;
    margin-top: 2px;
}

#mobile-nav-logo {
    display: none;
}

.menuItem {
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Playfair Display', serif;
    ;
}

.borders {
    font-size: 25px;
    color: whitesmoke;
}


/* Home Page */
#home{
    margin-top: 10px;
    background-color: white;
}

/* #home-image {
    margin-top: 5px;
    max-width: 100%;
    border-style: double;
    border-color: #D9A537;
    border-width: 6px;
} */

#home-title {
    margin-bottom: 30px;
}

#home-title, #type-of-work {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h5 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

#home-info {
    margin: 0 4px;
}

#about-btn {
    background-color: #d8a43b;
    margin-bottom: 20px;
}

#language {
    list-style-type: square;
}

.tHeader {
    text-align: center;
}

#twitter {
    background-color:  #d1d1d1;
    border-radius: 5px;
    padding: 1%;
    margin-left: 40px;
}

hr {
    max-width: 80%;
}

#type-of-work {
    margin-top: 30px;
}

#Div1, #Div3, #Div5, #Div7 {
    display: block;
    background: #121f2a;
    font-weight: 500;
    font-size: 25px;
}

#Div2, #Div4, #Div6, #Div8 {
    display: none;
    background: #d8a43b;
    font-size: 20px;
}

.divs {
    max-width: 90%;
    height: 400px;
    border: 1px solid #000;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

h6 {
    text-decoration: underline;
    font-weight: 600;
}

.tasks {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
}

.button-switch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #d1cabd;
    background-color: #d1cabd;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

#contact-btn {
    max-width: 400px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #d8a43b ;
}

.body {
    padding: 5px;
    background-color: lightgray;
}

/* about Page */
#aboutContainer {
    background-color: white;
}

.about-title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-decoration: underline;
}

#firm {
    height: 310px;
}

.card-content {
    background-color: #121F2A;
}

#theo, #maria, #firm-name {
    font-size: 22px;
}

#firm-content {
    background-color: #d8a43b;
}

#firm-card {
    margin-right: 5px;
}


/* Contact Page */
.contactContainer {
    background: url(../images/contactPageBG.jpg);
    max-width: fill;
    max-height: fill;
}

.card1 {
    background-color: #121F2A;
    box-sizing:border-box;
    align-content: justify;
    margin:0px;
    padding:0px;
    float:right;
}

.contactFormHeader {
    text-align: center;
}

#first_name, #last_name, #email, #userText, #status {
    background-color:whitesmoke;
} 

.btn {
    background-color: rgba(100, 116, 129, 0.815);
    border: 1px;
    width: 100%;
    text-shadow: 2px 2px 8px black;
}

.status {
    color:red;
}

.modal {
    display:none; 
    position: relative;
    z-index:1;
    height:100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.contactMargin {
    margin:7px;
}

/* contact Page modal */
.modal{
    /* display:none;  */
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.contactModal {
    background-color: #FFF;
    margin-bottom: 2em;
    box-shadow: px 0px 0px  black;
    
}

#submitBtn{
    background-color: #FFF;
    color: rgba(0,0,0,0.5);
}

/* footer */
#terms {
    text-align: center;
    margin: auto;
    width: 90%;
}

#contentFooter {
    width: 100%;
}

#footer {
    background-color: #121F2A;
    position: relative;
    width: 100%;
    bottom: 0;
}

#copyright {
    width: 100%;
    text-align: left;
    font-size: 13px;
    margin-left: 3px;
}

.row {
    margin-bottom: 0;
}

.map {
    height: 200px;
    width: 100%;
}

.container2 {
    margin-top: 70px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
    #theo-image, #maria-image, #firm {
        height: 250px;
    }
}

@media screen and (max-width: 900px) {

    #banner {
        display: none;
    }
    
    #mobile-nav-logo {
        display: block;
    }

    #twitter {
        margin: 5px;
        max-width: 50%;
    }

    .button-switch {
        margin-bottom: 20px;
    }

    #contact-btn {
        margin-top: 10px;
        max-width: 300px;
        line-height: 15px;
        padding: 5px;
    }

    #theo, #maria, #firm-name {
        font-size: 18px;
    }

    #firm-card {
        margin: 5px;
    }    
}