/* Main */
body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
}
/* Navigation */
.navBG {
    position: relative;  
    background-color: #121F2A;
}

.borders {
    color: #D9A537;
}

#pillar {
    margin-top: 8px;
}

#banner{
    height: 60px;
    width: 468px;
    margin-top: 2px;
}

.menuItem {
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Playfair Display', serif;
}

.borders{
    font-size: 25px;
    color: whitesmoke;
}
/* Home Page */
#aboutContainer{
    width: 100%;
}
/* about Page */
#maria{
    height: 304px;
    width: 100%;
}

#firm{
    height: 304px;
    width: 100%;
}
/* Contact Page */
.contactContainer{
    background: url(images/contactPageBG.jpg);
    max-width: fill;
    max-height: fill;
}
.card1{
    background-color: #121F2A;
    box-sizing:border-box;
    align-content: justify;
    margin:0px;
    padding:0px;
    float:right;

}
.contactFormHeader{
    text-align: center;
}
#first_name, #last_name, #email, #userText, #status {
    background-color:whitesmoke;
} 

.btn{
    background-color: rgba(100, 116, 129, 0.815);
    border: 1px;
    width: 100%;
    text-shadow: 2px 2px 8px black;
}
.status{
    color:red;
}
.modal{
    display:none; 
     position: fixed;
    z-index:1;
    height:100%;
    width:100%;
    overflow: auto;
    /* background-color: rgba(0,0,0,0.5); */
}


.contactMargin{
    margin:7px;
}
/* contact Page modal */
.modal{
    /* display:none;  */
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.contactModal {
    
    background-color: #FFF;
    margin-bottom: 2em;
    box-shadow: px 0px 0px  black;
    
}
#submitBtn{
    background-color: #FFF;
    color: rgba(0,0,0,0.5);

}
.sumSummaryAbout{
    text-shadow: 2px 2px 8px rgb(164, 162, 162);
    line-height: 26px;
}
.sumSummary{
    text-shadow: 2px 2px 8px rgb(164, 162, 162);
}
.tHeader{
    text-align: center;
    color: darkgray;
}
h4{
    font-family: 'Playfair Display', serif;
}
h5{
    font-family: 'Playfair Display', serif;
}

#terms {
    text-align: center;
    margin: auto;
    width: 90%;
}

/* Footer */
#contentFooter {
    width: 100%;
}
#footer {
    background-color: #121F2A;
    position: relative;
    width: 100%;
    bottom: 0;
}

#copyright {
    width: 100%;
    text-align: left;
    font-size: 13px;
    margin-left: 3px;
}


.row {
    margin-bottom: 0;
}
.map {
    height: 200px;
    width: 100%;
}

.container2 {
    margin-top: 70px;
    margin-bottom: 60px;
}
