
body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
}

/* Navigation */
style.css
  .navBG {
    background-image: url("#");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
}
.navContainer {
   font-size: larger;
}

#aboutContainer{
    width: 100%;
}

#maria{
    height: 304px;
    width: 100%;
}

#firm{
    height: 304px;
    width: 100%;
}

#contentFooter {
    width: 100%;
}
#footer {
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}
.row {
    margin-bottom: 0;
}
.map {
    height: 200px;
    width: 100%;
}

/* contact Page modal */
.modal{
    display:none; 
     position: fixed;
    z-index:1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.sumSummary{
    text-shadow: 2px 2px 8px black;
}
